@charset "UTF-8";
/* CSS Document */

body {
  width:960px;
  margin: 0 auto;
  margin-top:100px;
  padding-bottom: 100px;
  }
  
nav {
  float:left;
  list-style-type: none;
  margin-bottom:50px;
}

.clear {display: block;clear:both;}

/********/

#container {padding-top: 10px;}

.box1 {
  height:100px;
  width:172px;
  background-color: black;
  margin-right:10px;
  margin-left:10px;
  margin-bottom:20px;
  float:left;
  }

.box2 {
  height:220px;
  width:364px;
  background-color: black;
  margin-right:10px;
  margin-left:10px;
  margin-bottom:20px;
  float:left;}

.box3 {
  height:220px;
  width:172px;
  background-color: black;
  margin-right:10px;
  margin-left:10px;
  margin-bottom:20px;
  float:left;}

.box4 {
  height:100px;
  width:364px;
  background-color: black;
  margin-right:10px;
  margin-left:10px;
  margin-bottom:20px;
  float:left;}

/*****************/

.centered {
  color: white;
  text-align: center;
  margin: 0;
  position: relative;
  top: 40%;
}